@use '../02-tools/' as *;

.image-box {

    border-radius: 6px;
    box-shadow: 0 0 15px gray;

    &:hover {
        box-shadow: 0 0 25px gray;
    }

    &__image {
        background: url('../assets/img/one.jpg') center/cover;
        height: 22rem;
        display: block;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;

        &--next {
            background-image: url(../assets/img/two.jpeg);
        }
    }

    &__text {
        text-align: center;
        padding: 15px;
        font-size: 1.6rem;
        cursor: pointer;
        font-family: 'Roboto';
    }

}