@use '../01-settings/' as *;
@use '../02-tools/' as *;

.container {

    width: 100%;
    margin: 0 auto;
    padding: 0 $gutter;

    @include medium {
        max-width: 74 * $grid-base;
    }

    @include large {
        max-width: 112 * $grid-base;
    }

}