@use '../01-settings/' as *;

// to jest blok wg BEM
.site-header {
    background: url('../../assets/img/bg-header.jpeg') center/cover fixed;
    height: 100vh;
    position: relative;

    &__blackout {
        position: absolute;
    }

    &__h1 {
       position: absolute;
       bottom: 40%;
       width: 100%;
       text-align: center;
    }

    &__button {
        position: absolute;
        bottom: 15%;
        margin: 0 auto;
        left: 0;
        right: 0;
    }

}
